@using Microsoft.Extensions.Options
@using WoWsShipBuilder.Infrastructure
@using WoWsShipBuilder.Infrastructure.ApplicationData
@using WoWsShipBuilder.Infrastructure.GameData
@using WoWsShipBuilder.Infrastructure.Localization
@using WoWsShipBuilder.Infrastructure.Localization.Resources
@using WoWsShipBuilder.Infrastructure.Utility
@using WoWsShipBuilder.Web.Infrastructure

@inject ILocalizer Localizer
@inject IOptions<CdnOptions> CdnOptions
@inject IOptions<ShipBuilderOptions> ShipBuilderOptionsContainer

<MudAppBar Fixed>
    <MudHidden Breakpoint="Breakpoint.SmAndDown">
        <NavLink class="d-flex me-4" href="/">
            <MudIcon Icon="@shipBuilderIcon" Size="Size.Large"/>
            <MudText Typo="Typo.h5">WoWs&#x2011;ShipBuilder</MudText>
        </NavLink>
        <NavLink href="/charts" class="main-nav-link" ActiveClass="nav-link-active">@Localizer.SimpleAppLocalization(nameof(Translation.ChartsWeb_BallisticCharts))</NavLink>
        <NavLink href="/acceleration-charts" class="main-nav-link" ActiveClass="nav-link-active">@Localizer.SimpleAppLocalization(nameof(Translation.NavigationAccelerationCharts))</NavLink>
        <NavLink href="/comparison" class="main-nav-link" ActiveClass="nav-link-active">@Localizer.SimpleAppLocalization(nameof(Translation.NavigationComparison))</NavLink>
        <MudDivider DividerType="DividerType.Middle" FlexItem Vertical/>
        @switch (CdnOptions.Value.Server)
        {
            case ServerType.Live:
                <MudTooltip>
                    <TooltipContent>
                        <MudText Typo="@Typo.body1">WoWs-ShipBuilder for the PTS client of the game.</MudText>
                    </TooltipContent>
                    <ChildContent>
                        <NavLink class="d-flex me-4" href="@ShipBuilderOptions.PtsServerUrl" target="_blank">
                            <MudIcon Icon="@shipBuilderIcon" Size="@Size.Large"/>
                            <MudText Class="align-self-center">@Localizer.SimpleAppLocalization(nameof(Translation.ServerTypePts))</MudText>
                        </NavLink>
                    </ChildContent>
                </MudTooltip>
                break;
            case ServerType.Pts:
                <MudTooltip>
                    <TooltipContent>
                        <MudText Typo="@Typo.body1">WoWs-ShipBuilder for the Live client of the game.</MudText>
                    </TooltipContent>
                    <ChildContent>
                        <NavLink class="d-flex me-4" href="@ShipBuilderOptions.LiveServerUrl" target="_blank">
                            <MudIcon Icon="@shipBuilderIcon" Size="@Size.Large"/>
                            <MudText Class="align-self-center">@Localizer.SimpleAppLocalization(nameof(Translation.ServerTypeLive))</MudText>
                        </NavLink>
                    </ChildContent>
                </MudTooltip>
                break;
            default:
                <MudTooltip>
                    <TooltipContent>
                        <MudText Typo="@Typo.body1">WoWs-ShipBuilder for the PTS client of the game.</MudText>
                    </TooltipContent>
                    <ChildContent>
                        <NavLink class="d-flex me-4" href="https://pts.wowssb.com/" target="_blank">
                            <MudIcon Icon="@shipBuilderIcon" Size="@Size.Large"/>
                            <MudText Class="align-self-center">@Localizer.SimpleAppLocalization(nameof(Translation.ServerTypePts))</MudText>
                        </NavLink>
                    </ChildContent>
                </MudTooltip>
                <MudTooltip>
                    <TooltipContent>
                        <MudText Typo="@Typo.body1">WoWs-ShipBuilder for the Live client of the game.</MudText>
                    </TooltipContent>
                    <ChildContent>
                        <NavLink class="d-flex me-4" href="https://app.wowssb.com/" target="_blank">
                            <MudIcon Icon="@shipBuilderIcon" Size="@Size.Large"/>
                            <MudText Class="align-self-center">@Localizer.SimpleAppLocalization(nameof(Translation.ServerTypeLive))</MudText>
                        </NavLink>
                    </ChildContent>
                </MudTooltip>
                break;
        }
        <MudDivider DividerType="DividerType.Middle" FlexItem Vertical/>
        <MudTooltip>
            <TooltipContent>
                <MudText Typo="Typo.body1">The replay renderer tool created by notyourfather and Trackpad.</MudText>
            </TooltipContent>
            <ChildContent>
                <NavLink class="d-flex me-4" href="@ShipBuilderOptions.MinimapRendererUrl" target="_blank">
                    <MudImage Class="px-2" Src="/_content/WoWsShipBuilder.Common/assets/render_logo.png" Height="35"/>
                    <MudText Class="align-self-center">Replay Renderer</MudText>
                </NavLink>
            </ChildContent>
        </MudTooltip>
        <MudSpacer/>
        <div class=btn-container>
            <a title="Donate" class="kofi-button" style="background-color:#505050;" href="https://ko-fi.com/L4L3DT7EM" target="_blank">
                <span class="kofitext">
                    <img src="https://storage.ko-fi.com/cdn/cup-border.png" alt="Ko-fi donations" class="kofiimg"/>Donate
                </span>
            </a>
        </div>
        <NavLink href="/settings" class="main-nav-link d-flex" ActiveClass="nav-link-active">
            <MudIcon Icon="@Icons.Material.Filled.Settings" Color="Color.Inherit" Style="font-size: xx-large"/>
            @* <MudText Typo="Typo.inherit" Color="Color.Inherit" Style="font-weight: inherit;" Class="align-self-center">@Localizer.SimpleAppLocalization(nameof(Translation.SettingsWindow_Settings))</MudText> *@
        </NavLink>
        <MudTooltip>
            <TooltipContent>
                <MudText Typo="Typo.body1">Download ShipBuilder Desktop App</MudText>
            </TooltipContent>
            <ChildContent>
                <MudIconButton Icon="@Icons.Material.Filled.InstallDesktop" Color="Color.Inherit" Link="https://github.com/WoWs-Builder-Team/WoWs-ShipBuilder/releases/latest" Target="_blank" Size="Size.Large" Style="margin-top: 1px"/>
            </ChildContent>
        </MudTooltip>
        <MudTooltip>
            <TooltipContent>
                <MudText Typo="Typo.body1">GiHub Repository</MudText>
            </TooltipContent>
            <ChildContent>
                <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/WoWs-Builder-Team/WoWs-ShipBuilder#wows-shipbuilder" Target="_blank"/>
            </ChildContent>
        </MudTooltip>
    </MudHidden>
    <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" OnClick="@ToggleDrawer"/>
        <NavLink class="d-flex me-4" href="/">
            <MudIcon Icon="@shipBuilderIcon" Size="Size.Large"/>
            <MudText Typo="Typo.h5">WoWs&#x2011;ShipBuilder</MudText>
        </NavLink>
        <MudSpacer/>
    </MudHidden>
</MudAppBar>
<MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
    <MudDrawer @bind-Open="@open" Elevation="1">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">WoWs&#x2011;ShipBuilder</MudText>
        </MudDrawerHeader>
        <MudNavMenu Bordered Color="Color.Info">
            <MudNavLink Icon="@shipBuilderIcon" Match="NavLinkMatch.All" Href="/">@Localizer.SimpleAppLocalization(nameof(Translation.NavigationHome))</MudNavLink>
            <MudNavLink Icon="@Icons.Material.Filled.Speed" Href="/acceleration-charts" ActiveClass="nav-link-active">@Localizer.SimpleAppLocalization(nameof(Translation.NavigationAccelerationCharts))</MudNavLink>
            <MudNavLink Icon="@Icons.Material.Filled.FormatListBulleted" Href="/comparison" ActiveClass="nav-link-active">@Localizer.SimpleAppLocalization(nameof(Translation.NavigationComparison))</MudNavLink>
            <MudNavLink Icon="@Icons.Material.Filled.SsidChart" Href="/charts">@Localizer.SimpleAppLocalization(nameof(Translation.NavigationCharts))</MudNavLink>
            <MudNavLink Icon="@kofiIcon" Href="https://ko-fi.com/L4L3DT7EM" Target="_blank">Donate</MudNavLink>
            @* <MudNavLink Icon="@Icons.Filled.Science" Href="/test">Test page</MudNavLink> *@
            <MudDivider Class="my-4"/>
            <MudNavLink Icon="@Icons.Material.Filled.Settings" Href="/settings">@Localizer.GetAppLocalization(nameof(Translation.SettingsWindow_Settings)).Localization</MudNavLink>
            <MudDivider Class="my-4"/>
            <MudNavLink Style="text-transform: none !important;" Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Href="https://github.com/WoWs-Builder-Team/WoWs-ShipBuilder#wows-shipbuilder" Target="_blank">GitHub Repository</MudNavLink>
            <MudDivider Class="my-4"/>
            @switch (CdnOptions.Value.Server)
            {
                case ServerType.Live:
                    <MudNavLink Href="@ShipBuilderOptions.PtsServerUrl" Target="_blank" Icon="@shipBuilderIcon">@Localizer.SimpleAppLocalization(nameof(Translation.ServerTypePts))</MudNavLink>
                    break;
                case ServerType.Pts:
                    <MudNavLink Href="@ShipBuilderOptions.LiveServerUrl" Target="_blank" Icon="@shipBuilderIcon">@Localizer.SimpleAppLocalization(nameof(Translation.ServerTypeLive))</MudNavLink>
                    break;
                default:
                    <MudNavLink Href="@ShipBuilderOptions.PtsServerUrl" Target="_blank" Icon="@shipBuilderIcon">@Localizer.SimpleAppLocalization(nameof(Translation.ServerTypePts))</MudNavLink>
                    <MudNavLink Href="@ShipBuilderOptions.LiveServerUrl" Target="_blank" Icon="@shipBuilderIcon">@Localizer.SimpleAppLocalization(nameof(Translation.ServerTypeLive))</MudNavLink>
                    break;
            }
            <MudDivider Class="my-4"/>
            <MudButton Style="text-transform: none !important;" Size="Size.Large" Color="Color.Inherit" Href="@ShipBuilderOptions.MinimapRendererUrl" Target="_blank">
                <MudImage Class="px-2" Src="/_content/WoWsShipBuilder.Common/assets/render_logo.png" Height="35"/>
                Minimap Renderer
            </MudButton>
        </MudNavMenu>
    </MudDrawer>
</MudHidden>

@code
{
    private string shipBuilderIcon = @"<path d=""m7.2736 0.21441-4.2647 2.4057v16.062l8.991 5.103 8.9911-5.103v-16.062l-4.2525-2.4057zm0.13365 1.215h9.1855l3.1833 1.7982v14.848l-7.7761 4.4955-7.7761-4.4955v-14.848zm-0.60676 1.6039v1.5794h0.37295c-8.816e-4 0.11256-0.00153 0.02199-0.00153 0.13067 0 0.11299 0.027159 0.14681 0.14592 0.14681h0.14592l0.00116 1.7654-0.00373 1.7527 0.38272 0.30338s-0.01905 0.043017-0.07045 0.1024c-0.060503 0.087041-0.0565 0.21078-0.029343 0.2673 0.027157 0.056517 0.089923 0.11825 0.16983 0.13304 0.072913 0.00454 0.1998-0.031013 0.2626-0.1429 0.044113-0.078596 0.066364-0.1568 0.049432-0.17373-0.079212 0.012993-0.13556 0.058947-0.18601 0.117-0.012179 0.038906-0.065396 0.063458-0.096121 0.062596-0.030725-8.713e-4 -0.055135-0.0081-0.071753-0.078774-0.012988-0.055255 0.068199-0.16181 0.1815-0.28692l0.36774-0.30338-0.002554-3.5181h0.14592c0.11536 0 0.14588-0.034741 0.14588-0.13616v-0.14132h2.2202v6.9013h-2.0898v3.4506l3.159 1.7982 3.1591-1.7982v-3.4506h-2.0898v-6.9013h2.2205v0.14486c0 0.10788 0.026 0.13263 0.13955 0.13263h0.13965l-0.04766 2.5744 0.37407 0.30724c0.03169 0.056936 0.10537 0.15219 0.16373 0.20261 0.08737 0.075481 0.09389 0.10403 0.03692 0.16174-0.05721 0.057959-0.08642 0.047325-0.1688-0.061706-0.11664-0.15437-0.18709-0.11614-0.139 0.075472 0.03814 0.15192 0.26183 0.23712 0.39843 0.15164 0.13716-0.085822 0.13901-0.33911 0.0032-0.44154l-0.11693-0.088215 0.47079-0.30673-0.04887-2.5749h0.14086c0.11356 0 0.13965-0.024739 0.13965-0.13263 0-0.082538 0.03004-0.14486 0.07956-0.14486h0.34393v-1.5794h-6.2681zm0.48093 0.2673h0.87369l-0.43684 0.32761zm1.3801 0h0.87606l-0.43801 0.32854zm1.3932 0h0.87606l-0.43596 0.33007zm3.0145 0h0.87346l-0.43471 0.3291zm1.3932 0h0.86039c-0.16464 0.14675-0.42815 0.32417-0.42815 0.32417zm1.3932 0h0.86039l-0.4282 0.32417zm-8.8446 0.19485 0.44215 0.33166-0.43801 0.32849zm1.4039 0 0.43145 0.32356-0.44875 0.33659-0.42285-0.335zm1.3825 0 0.4401 0.33007-0.43596 0.33008-0.45149-0.3204zm4.4053 0 0.43336 0.32515-0.42675 0.335-0.44345-0.33254zm1.3932 0 0.42689 0.33007-0.42029 0.33008-0.4434-0.33254zm1.3932 0 0.0066 0.66015-0.44336-0.33254zm-6.0583 0.19299v0.2692l-0.1795-0.13458zm2.1385 0.00196 0.18015 0.13514-0.18015 0.13639zm-3.9599 0.32593 0.43894 0.32919h-0.87369zm1.3834 6.506e-4 0.43805 0.32854h-0.87606zm3.0132 9.789e-4 0.43675 0.32756h-0.87346zm1.3932 0 0.43675 0.32756h-0.87346zm-7.1883 0.0024 0.43359 0.32519h-0.86304zm8.575 0.00249 0.4302 0.32268h-0.86039zm-4.8422 0.58987h1.1118l-0.55519 0.4866zm-0.17262 0.24423 0.5019 0.4368-0.5019 0.43684zm1.458 0.011675v0.86286l-0.50306-0.43792zm-5.1013 0.02158h0.6271l-0.00964 3.0243c-0.23881 0.063993-0.36475 0.063832-0.60299 0zm8.1275 0h0.55473l0.01446 2.0958c-0.26203 0.070213-0.33306 0.070213-0.5951 0zm-3.7552 0.60001 0.58193 0.50767-0.58193 0.50753-0.58444-0.50753zm-0.72897 0.77487 0.50255 0.4374-0.50255 0.43745zm1.458 0v0.87486l-0.50251-0.43745zm-0.72902 0.63453 0.58324 0.50762-0.58324 0.50757-0.58319-0.50757zm-0.72897 0.77492 0.50255 0.4374-0.50255 0.4374zm1.458 0v0.87481l-0.50251-0.43741zm-0.72902 0.63453 0.58324 0.50758-0.58324 0.50757-0.58319-0.50757zm-0.72897 0.77487 0.50255 0.4374-0.50255 0.4374zm1.458 0v0.87481l-0.50251-0.4374zm-0.72902 0.63448 0.58324 0.50762-0.58324 0.50762-0.58319-0.50762zm-6.561 0.28892v7.4602l6.561 3.7931 6.5611-3.7931v-7.4602l-2.5515 1.5066v3.9609l-4.0095 2.2356-4.0095-2.2356v-3.9609zm5.8321 0.48604 0.4959 0.44312-0.4959 0.43168zm1.458 0v0.8748l-0.4959-0.43168zm-0.72902 0.65145 0.41313 0.36914h-0.82621z"" stroke-width="".053058""/>";

    private string kofiIcon = @"<svg viewBox=""0 0 618.86 394.34""><defs><clipPath id=""clipPath1728""><path d=""m0 600h600v-600h-600z""/></clipPath></defs><g transform=""matrix(1.3333 0 0 -1.3333 -121.06 581.11)""><g clip-path=""url(#clipPath1728)""><g transform=""translate(548.43 345.87)""><path d=""m0 0c-6.319 33.374-24.285 54.164-42.696 67.019-19.041 13.294-41.85 20.126-65.073 20.126h-329.58c-11.465 0-15.857-11.194-15.901-16.801-5e-3 -0.731 0.022-3.657 0.022-3.657s-0.541-145.81 0.482-223.69c3.11-45.978 49.178-45.963 49.178-45.963s150.4 0.441 222.53 0.889c3.383 0.021 6.762 0.386 10.044 1.207 41.068 10.274 45.317 48.428 44.878 69.696 82.549-4.586 140.79 53.663 126.12 131.18m-92.73-75.675c-17.606-2.2-31.909-0.549-31.909-0.549v107.8h21.662c14.317 0 28.127-5.962 37.469-16.81 6.576-7.638 11.837-18.388 11.837-33.238 0-36.298-18.704-50.599-39.059-57.199"" fill=""#fff"" stroke=""#323a47"" stroke-miterlimit=""10"" stroke-width=""7""/></g><g transform=""translate(256.61 203.37)""><path d=""m0 0c3.585-1.806 5.875 0.437 5.875 0.437s52.457 47.878 76.089 75.452c21.019 24.666 22.39 66.234-13.707 81.766-36.097 15.531-65.796-18.272-65.796-18.272-25.755 28.325-64.733 26.891-82.763 7.722-18.027-19.17-11.732-52.073 1.718-70.384 12.625-17.19 68.118-66.65 76.529-75.015 0 0 0.613-0.641 2.055-1.706"" fill=""#ff5e5b""/></g></g></g></svg>";

    bool open = false;

    private ShipBuilderOptions ShipBuilderOptions => ShipBuilderOptionsContainer.Value;

    void ToggleDrawer()
    {
        open = !open;
    }
}
