@using WoWsShipBuilder.DataElements.DataElements
@using WoWsShipBuilder.DataStructures
@using static WoWsShipBuilder.Features.ShipStats.Components.SharedFragments
@using Microsoft.Extensions.Logging.Console
@using System.Text
@using WoWsShipBuilder.DataStructures.Ship.Components
@using System.ComponentModel.DataAnnotations
@using WoWsShipBuilder.DataContainers
@using WoWsShipBuilder.Features.FiringAngleDiagram
@using WoWsShipBuilder.Features.Settings
@using WoWsShipBuilder.Infrastructure
@using WoWsShipBuilder.Infrastructure.DataTransfer
@using WoWsShipBuilder.Infrastructure.GameData
@using WoWsShipBuilder.Infrastructure.Localization.Resources
@using WoWsShipBuilder.Infrastructure.Utility
@using DepthChargeDataContainer = WoWsShipBuilder.DataContainers.DepthChargeDataContainer
@inherits ReactiveComponentBase<WoWsShipBuilder.Features.ShipStats.ViewModels.ShipStatsControlViewModel>
@inject ILocalizer Localizer
@inject NavigationManager NavManager
@inject AppSettings AppSettings
@inject IDialogService DialogService

@if (ViewModel is not null)
{
    <MudPaper Outlined="true" Class="pa-2">
    <MudGrid>
    <!--Main Armament column-->
    <MudItem xs="12" lg="4">
        <MudStack>
            <!--Main Battery-->
            @if (ViewModel.CurrentShipStats?.MainBatteryDataContainer is not null)
            {
                <MudExpansionPanel DisableGutters Text="@Localizer.GetAppLocalization(nameof(Translation.ShipStats_MainBattery)).Localization" IsInitiallyExpanded="@(AppSettings.WebAppSettings?.OpenAllMainExpandersByDefault ?? true)" Style="border-bottom: initial" Class="header-border border border-solid rounded-0">
                    <MudStack Spacing="1" Class="expander-content-padding mb-n3">
                        @foreach (var data in ViewModel.CurrentShipStats.MainBatteryDataContainer.DataElements)
                        {
                            @DataElementFragment((data, Localizer))
                        }
                        <!--Dispersion-->
                        <MudText>
                            @Localizer.GetAppLocalization(nameof(Translation.ShipStats_DispersionAtMaxRange)).Localization
                        </MudText>
                        <MudTooltip Inline="false" Placement="Placement.Bottom" Color="Color.Transparent" RootStyle="width: 100%">
                            <ChildContent>
                                <div class="ml-3 d-flex justify-space-between">
                                    <MudText Typo="Typo.body2" Class="flex-grow-0 flex-shrink-1">
                                        @Localizer.GetAppLocalization(nameof(Translation.ShipStats_HorizontalDisp)).Localization
                                    </MudText>
                                    <MudIcon ViewBox="-5 -1 36 36" Icon="@Icons.Material.Outlined.Info" Size="Size.Small"/>
                                    <MudText Typo="Typo.body2" Align="Align.End" Class="flex-grow-1 flex-shrink-0 pl-2 align-self-center">
                                        @(ViewModel.CurrentShipStats.MainBatteryDataContainer.HorizontalDisp + " " + Localizer.GetAppLocalization(nameof(Translation.Unit_M)).Localization)
                                    </MudText>
                                </div>
                            </ChildContent>
                            <TooltipContent>
                                <MudPaper Outlined="true" Class="pa-2">
                                    <MudStack Style="max-width: 500px">
                                        <MudText Typo="Typo.body2">@(Localizer.GetAppLocalization(nameof(Translation.ShipStats_DispFormulaTooltip)).Localization + " <= " + ViewModel.CurrentShipStats.MainBatteryDataContainer.TaperDist + ":")</MudText>
                                        <MudText Typo="Typo.body2">@ViewModel.CurrentShipStats.MainBatteryDataContainer.HorizontalDispFormulaAtShortRange</MudText>
                                        <MudText Typo="Typo.body2">@(Localizer.GetAppLocalization(nameof(Translation.ShipStats_DispFormulaTooltip)).Localization + " > " + ViewModel.CurrentShipStats.MainBatteryDataContainer.TaperDist + ":")</MudText>
                                        <MudText Typo="Typo.body2">@ViewModel.CurrentShipStats.MainBatteryDataContainer.HorizontalDispFormula</MudText>
                                    </MudStack>
                                </MudPaper>
                            </TooltipContent>
                        </MudTooltip>
                        <MudTooltip Inline="false" Placement="Placement.Bottom" Color="Color.Transparent" RootStyle="width: 100%">
                            <ChildContent>
                                <div class="ml-3 d-flex justify-space-between">
                                    <MudText Typo="Typo.body2" Class="flex-grow-0 flex-shrink-1">@Localizer.GetAppLocalization(nameof(Translation.ShipStats_VerticalDisp)).Localization</MudText>
                                    <MudIcon ViewBox="-5 -1 36 36" Icon="@Icons.Material.Outlined.Info" Size="Size.Small"/>
                                    <MudText Typo="Typo.body2" Align="Align.End" Class="flex-grow-1 flex-shrink-0 pl-2 align-self-center">@(ViewModel.CurrentShipStats.MainBatteryDataContainer.VerticalDisp + " " + Localizer.GetAppLocalization(nameof(Translation.Unit_M)).Localization)</MudText>
                                </div>
                            </ChildContent>
                            <TooltipContent>
                                <MudPaper Outlined="true" Class="pa-2">
                                    <MudStack Style="max-width: 500px">
                                        <MudText Typo="Typo.body2">@(Localizer.GetAppLocalization(nameof(Translation.ShipStats_DispFormulaTooltip)).Localization + " < " + ViewModel.CurrentShipStats.MainBatteryDataContainer.DelimDist + ":")</MudText>
                                        <MudText Typo="Typo.body2">@(ViewModel.CurrentShipStats.MainBatteryDataContainer.VerticalCoeffFormulaAtShortRange + " * " + Localizer.GetAppLocalization(nameof(Translation.ShipStats_HorizontalDispersionX)).Localization)</MudText>
                                        <MudText Typo="Typo.body2">@(Localizer.GetAppLocalization(nameof(Translation.ShipStats_DispFormulaTooltip)).Localization + " >= " + ViewModel.CurrentShipStats.MainBatteryDataContainer.DelimDist + ":")</MudText>
                                        <MudText Typo="Typo.body2">@(ViewModel.CurrentShipStats.MainBatteryDataContainer.VerticalCoeffFormula + " * " + Localizer.GetAppLocalization(nameof(Translation.ShipStats_HorizontalDispersionX)).Localization)</MudText>
                                    </MudStack>
                                </MudPaper>
                            </TooltipContent>
                        </MudTooltip>
                        <MudText Style="color: paleturquoise !important; text-decoration: underline; cursor: pointer;" Typo="Typo.body2" @onclick="@(_ => OpenAngleDialog(ViewModel.CurrentShipStats.MainBatteryDataContainer.OriginalMainBatteryData.Guns, true))">
                            @Localizer.GetAppLocalization(nameof(Translation.ShipStats_TurretAngles)).Localization
                        </MudText>

                        <!--Shell data-->
                        <MudText Typo="Typo.body2" Class="mt-2">@Localizer.GetAppLocalization(nameof(Translation.ShipStats_Shells)).Localization</MudText>
                        <MudStack>
                            @foreach (var shell in ViewModel.CurrentShipStats.MainBatteryDataContainer.ShellData)
                            {
                                <!--Border bottom initial needed to fix the first expander having a wrong color when closed-->
                                <MudExpansionPanel DisableGutters Text="@Localizer.GetGameLocalization(shell.Name).Localization" IsInitiallyExpanded="@(AppSettings.WebAppSettings?.OpenAllAmmoExpandersByDefault ?? true)" Class="rounded-0 child-expander">
                                    <MudStack Spacing="1" Class="expander-content-padding">
                                        @foreach (var data in shell.DataElements)
                                        {
                                            @DataElementFragment((data, Localizer))
                                        }
                                        <MudText Typo="Typo.body2" Style="color: paleturquoise !important; text-decoration: underline; cursor: pointer" @onclick="@(_ => SendBuildToBallisticCharts(shell.Name, true))">
                                            @Localizer.GetAppLocalization(nameof(Translation.ChartsWeb_ShowCharts)).Localization
                                        </MudText>
                                    </MudStack>
                                </MudExpansionPanel>
                            }
                        </MudStack>
                    </MudStack>
                </MudExpansionPanel>
            }

            <!--Pinger gun-->
            @if (ViewModel.CurrentShipStats?.PingerGunDataContainer is not null)
            {
                <MudExpansionPanel DisableGutters Text="@Localizer.GetAppLocalization(nameof(Translation.ShipStats_PingerGun)).Localization" IsInitiallyExpanded="@(AppSettings.WebAppSettings?.OpenAllMainExpandersByDefault ?? true)" Style="border-bottom: initial" Class="header-border border border-solid rounded-0">
                    <MudStack Spacing="1" Class="expander-content-padding mb-n3">
                        @foreach (var data in ViewModel.CurrentShipStats.PingerGunDataContainer.DataElements)
                        {
                            @DataElementFragment((data,Localizer))
                        }
                    </MudStack>
                </MudExpansionPanel>
            }

            <!--Torpedo-->
            @if (ViewModel.CurrentShipStats?.TorpedoArmamentDataContainer is not null)
            {
                <MudExpansionPanel DisableGutters Text="@Localizer.GetAppLocalization(nameof(Translation.ShipStats_TorpedoLaunchers)).Localization" IsInitiallyExpanded="@(AppSettings.WebAppSettings?.OpenAllMainExpandersByDefault ?? true)" Style="border-bottom: initial" Class="header-border border border-solid rounded-0">
                    <MudStack Spacing="1" Class="expander-content-padding mb-n3">
                        @foreach (var data in ViewModel.CurrentShipStats.TorpedoArmamentDataContainer.DataElements)
                        {
                            @DataElementFragment((data,Localizer))
                        }
                        <MudText Style="color: paleturquoise !important; text-decoration: underline; cursor: pointer;" Typo="Typo.body2" @onclick="@(_ => OpenAngleDialog(ViewModel.CurrentShipStats.TorpedoArmamentDataContainer.TorpedoLaunchers, false))">
                            @Localizer.GetAppLocalization(nameof(Translation.ShipStats_ShowLaunchersAngles)).Localization
                        </MudText>
                        <!--Torpedo data-->
                        <MudText Typo="Typo.body2" Class="mt-2">@Localizer.GetAppLocalization(nameof(Translation.ShipStats_Torpedo)).Localization</MudText>
                        <MudStack>
                            @foreach (var torpedo in ViewModel.CurrentShipStats.TorpedoArmamentDataContainer.Torpedoes)
                            {
                                <!--Border bottom initial needed to fix the first expander having a wrong color when closed-->
                                <MudExpansionPanel DisableGutters Text="@Localizer.GetGameLocalization(torpedo.Name).Localization" IsInitiallyExpanded="@(AppSettings.WebAppSettings?.OpenAllAmmoExpandersByDefault ?? true)" Style="border-bottom: initial" Class="child-expander rounded-0">
                                    <MudStack Spacing="1" Class="expander-content-padding mb-n3">
                                        @if (torpedo.TorpedoType.Equals($"ShipStats_Torpedo{TorpedoType.Magnetic.TorpedoTypeToString()}"))
                                        {
                                            for(int i = 0; i < torpedo.DataElements.Count - 11; i++)
                                            {
                                                @DataElementFragment((torpedo.DataElements[i]!, Localizer))
                                            }
                                        }
                                        else
                                        {
                                            foreach (var data in torpedo.DataElements)
                                            {
                                                @DataElementFragment((data, Localizer))
                                            }
                                        }
                                        @if (torpedo.CanHitClasses is not null)
                                        {
                                            <div class="d-flex justify-space-between">
                                                <MudText Typo="Typo.body2" Class="flex-grow-0 flex-shrink-1">
                                                    @Localizer.GetAppLocalization(nameof(Translation.ShipStats_CanHitClasses)).Localization
                                                </MudText>
                                                <MudStack Row="true">
                                                    @foreach (var shipClass in torpedo.CanHitClasses)
                                                    {
                                                        <MudIcon ViewBox="0 0 22 10" Icon="@GetIconFromClass(shipClass)"/>
                                                    }
                                                </MudStack>
                                            </div>
                                        }
                                        @if (torpedo.TorpedoType.Equals($"ShipStats_Torpedo{TorpedoType.Magnetic.TorpedoTypeToString()}"))
                                        {
                                            <MudExpansionPanel DisableGutters Text="@Localizer.GetAppLocalization(nameof(Translation.ShipStats_MoreDetails)).Localization" Style="border-bottom: initial" Class="child-expander rounded-0 mt-1">
                                                <MudStack Spacing="1" Class="expander-content-padding mb-n3">
                                                    @for (var i = torpedo.DataElements.Count - 11; i < torpedo.DataElements.Count - 5; i++)
                                                    {
                                                        @DataElementFragment((torpedo.DataElements[i]!, Localizer))
                                                    }
                                                </MudStack>
                                            </MudExpansionPanel>
                                            <MudExpansionPanel DisableGutters Text="@Localizer.GetAppLocalization(nameof(Translation.ShipStats_CutOffDistances)).Localization" Style="border-bottom: initial" Class="child-expander rounded-0 mt-1">
                                                <MudStack Spacing="1" Class="expander-content-padding mb-n3">
                                                    @for (var i = torpedo.DataElements.Count - 5; i < torpedo.DataElements.Count; i++)
                                                    {
                                                        @DataElementFragment((torpedo.DataElements[i]!, Localizer))
                                                    }
                                                </MudStack>
                                            </MudExpansionPanel>
                                        }
                                    </MudStack>
                                </MudExpansionPanel>
                            }
                        </MudStack>
                    </MudStack>
                </MudExpansionPanel>
            }

            <!--CV planes-->
            @if (ViewModel.CurrentShipStats?.CvAircraftDataContainer is not null)
            {
                <MudExpansionPanel DisableGutters Text="@Localizer.GetAppLocalization(nameof(Translation.ShipStats_Aircraft)).Localization" IsInitiallyExpanded="@(AppSettings.WebAppSettings?.OpenAllMainExpandersByDefault ?? true)" Style="border-bottom: initial" Class="header-border border border-solid rounded-0">
                    <MudStack Spacing="3" Class="expander-content-padding mb-n3 mt-1">
                        @foreach (var plane in ViewModel.CurrentShipStats.CvAircraftDataContainer)
                        {
                            <MudExpansionPanel DisableGutters Text="@Localizer.GetAppLocalization($"ShipStats_{plane.PlaneVariant}").Localization" IsInitiallyExpanded="@(AppSettings.WebAppSettings?.OpenAllAmmoExpandersByDefault ?? true)" Style="border-bottom: initial" Class="child-expander rounded-0">
                                <MudStack Spacing="1" Class="expander-content-padding mb-n3">
                                    <div class="d-flex justify-space-between">
                                        <MudText Typo="Typo.body2" Class="flex-grow-0 flex-shrink-1">
                                            @Localizer.GetAppLocalization(nameof(Translation.ShipStats_Name)).Localization
                                        </MudText>
                                        <MudText Typo="Typo.body2" Align="Align.End" Class="flex-grow-1 flex-shrink-0 pl-2 align-self-center">
                                            @Localizer.GetGameLocalization(plane.Name).Localization
                                        </MudText>
                                    </div>
                                    @foreach (var data in plane.DataElements)
                                    {
                                        @DataElementFragment((data,Localizer))
                                    }
                                    <MudText Typo="Typo.body2" Class="mt-1">@Localizer.GetAppLocalization(nameof(Translation.ShipStats_Weapon)).Localization</MudText>
                                    <MudExpansionPanel DisableGutters Dense Text="@Localizer.GetAppLocalization(plane.WeaponType).Localization" IsInitiallyExpanded="@(AppSettings.WebAppSettings?.OpenSecondariesAndAaExpandersByDefault ?? true)" Style="border-bottom: initial" Class="child-expander rounded-0 my-1">
                                        <MudStack Spacing="1" Class="expander-content-padding">
                                            @foreach (var weaponData in plane.Weapon?.DataElements ?? new())
                                            {
                                                @DataElementFragment((weaponData,Localizer))
                                            }
                                        </MudStack>
                                    </MudExpansionPanel>
                                    @if (plane.PlaneConsumables.Count > 0)
                                    {
                                        <MudText Typo="Typo.body2">@Localizer.GetAppLocalization(nameof(Translation.ShipStats_Consumables)).Localization</MudText>
                                        <MudStack Row="true" Class="justify-center">
                                            @foreach (var consumable in plane.PlaneConsumables)
                                            {
                                                <MudTooltip Placement="Placement.Bottom" Color="Color.Transparent">
                                                    <ChildContent>
                                                        <MudImage Class="border border-solid rounded-0" ObjectFit="ObjectFit.ScaleDown" Width="60" Height="60" Src="@($"/_content/WoWsShipBuilder.Common/assets/consumable_icons/consumable_{consumable.IconName}.png")"/>
                                                    </ChildContent>
                                                    <TooltipContent>
                                                        <MudPaper Outlined="true" Class="pa-2">
                                                            <MudStack Spacing="1">
                                                                <MudText Typo="Typo.h6">@Localizer.GetGameLocalization("DOCK_CONSUME_TITLE_" + consumable.Name).Localization</MudText>
                                                                <MudText Typo="Typo.body2">@Localizer.GetGameLocalization("DOCK_CONSUME_DESCRIPTION_" + consumable.Name).Localization</MudText>
                                                                <MudDivider Light="true" Class="ma-1"/>
                                                                @foreach (var consumableData in consumable.DataElements)
                                                                {
                                                                    @DataElementFragment((consumableData,Localizer))
                                                                }
                                                            </MudStack>
                                                        </MudPaper>
                                                    </TooltipContent>
                                                </MudTooltip>
                                            }
                                        </MudStack>
                                    }
                                </MudStack>
                            </MudExpansionPanel>
                        }
                    </MudStack>
                </MudExpansionPanel>
            }
        </MudStack>
    </MudItem>

    <!--Secondary Armament column-->
    <MudItem xs="12" lg="4">
        <MudStack>
            <!--Secondaries-->
            @if (ViewModel.CurrentShipStats?.SecondaryBatteryUiDataContainer.Secondaries is not null)
            {
                <MudExpansionPanel Dense DisableGutters Text="@Localizer.GetAppLocalization(nameof(Translation.ShipStats_SecondaryBattery)).Localization" IsInitiallyExpanded="@(AppSettings.WebAppSettings?.OpenAllMainExpandersByDefault ?? true)" Style="border-bottom: initial" Class="header-border border border-solid rounded-0">
                    <MudStack Spacing="1" Class="expander-content-padding">
                        @foreach (var secondary in ViewModel.CurrentShipStats.SecondaryBatteryUiDataContainer.Secondaries)
                        {
                            <MudExpansionPanel Dense DisableGutters  Text="@(ConvertFormattedText(secondary.TurretSetup, Localizer))" IsInitiallyExpanded="@(AppSettings.WebAppSettings?.OpenSecondariesAndAaExpandersByDefault ?? true)" Style="border-bottom: initial" Class="child-expander rounded-0 my-1">
                                <MudStack Spacing="1" Class="expander-content-padding">
                                    @foreach (var secondaryData in secondary.DataElements)
                                    {
                                        @DataElementFragment((secondaryData, Localizer))
                                    }
                                    <!--Shell data-->
                                    <MudText Typo="Typo.body2" Class="mt-2">@Localizer.GetAppLocalization(nameof(Translation.ShipStats_Shells)).Localization</MudText>
                                    <!--Border bottom initial needed to fix the first expander having a wrong color when closed-->
                                    <MudExpansionPanel DisableGutters Text="@Localizer.GetGameLocalization(secondary.Shell?.Name ?? "").Localization" IsInitiallyExpanded="@(AppSettings.WebAppSettings?.OpenAllAmmoExpandersByDefault ?? true)" Style="border-bottom: initial" Class="mb-1 child-expander rounded-0">
                                        <MudStack Spacing="1" Class="expander-content-padding mb-n3">
                                            @foreach (var data in secondary.Shell?.DataElements ?? new())
                                            {
                                                @DataElementFragment((data, Localizer))
                                            }
                                        </MudStack>
                                    </MudExpansionPanel>
                                </MudStack>
                            </MudExpansionPanel>
                        }
                    </MudStack>
                </MudExpansionPanel>
            }

            <!--Anti air-->
            @if (ViewModel.CurrentShipStats?.AntiAirDataContainer is not null)
            {
                <MudExpansionPanel DisableGutters Text="@Localizer.GetAppLocalization(nameof(Translation.ShipStats_AADefense)).Localization" IsInitiallyExpanded="@(AppSettings.WebAppSettings?.OpenAllMainExpandersByDefault ?? true)" Style="border-bottom: initial" Class="header-border border border-solid rounded-0">
                    <MudStack Spacing="1" Class="expander-content-padding mb-n3">
                        <!--Long range aura-->
                        @if (ViewModel.CurrentShipStats.AntiAirDataContainer.LongRangeAura is not null)
                        {
                            <MudExpansionPanel DisableGutters IsInitiallyExpanded="@(AppSettings.WebAppSettings?.OpenSecondariesAndAaExpandersByDefault ?? true)" Text="@(Localizer.GetAppLocalization(nameof(Translation.ShipStats_LongAura)).Localization + " : " + ViewModel.CurrentShipStats.AntiAirDataContainer.LongRangeAura.Range + " " + Localizer.GetAppLocalization(nameof(Translation.Unit_KM)).Localization)" Style="border-bottom: initial" Class="child-expander rounded-0 mt-1">
                                <MudStack Spacing="1" Class="expander-content-padding mb-n3">
                                    @foreach (var longData in ViewModel.CurrentShipStats.AntiAirDataContainer.LongRangeAura.DataElements)
                                    {
                                        @DataElementFragment((longData, Localizer))
                                    }
                                </MudStack>
                            </MudExpansionPanel>
                        }

                        <!--Medium range aura-->
                        @if (ViewModel.CurrentShipStats.AntiAirDataContainer.MediumRangeAura is not null)
                        {
                            <MudExpansionPanel DisableGutters IsInitiallyExpanded="@(AppSettings.WebAppSettings?.OpenSecondariesAndAaExpandersByDefault ?? true)" Text="@(Localizer.GetAppLocalization(nameof(Translation.ShipStats_MediumAura)).Localization + " : " + ViewModel.CurrentShipStats.AntiAirDataContainer.MediumRangeAura.Range + " " + Localizer.GetAppLocalization(nameof(Translation.Unit_KM)).Localization)" Style="border-bottom: initial" Class="child-expander rounded-0 mt-2">
                                <MudStack Spacing="1" Class="expander-content-padding mb-n3">
                                    @foreach (var longData in ViewModel.CurrentShipStats.AntiAirDataContainer.MediumRangeAura.DataElements)
                                    {
                                        @DataElementFragment((longData, Localizer))
                                    }
                                </MudStack>
                            </MudExpansionPanel>
                        }

                        <!--Short range aura-->
                        @if (ViewModel.CurrentShipStats.AntiAirDataContainer.ShortRangeAura is not null)
                        {
                            <MudExpansionPanel DisableGutters IsInitiallyExpanded="@(AppSettings.WebAppSettings?.OpenSecondariesAndAaExpandersByDefault ?? true)" Text="@(Localizer.GetAppLocalization(nameof(Translation.ShipStats_ShortAura)).Localization + " : " + ViewModel.CurrentShipStats.AntiAirDataContainer.ShortRangeAura.Range + " " + Localizer.GetAppLocalization(nameof(Translation.Unit_KM)).Localization)" Style="border-bottom: initial" Class="child-expander rounded-0 mt-2">
                                <MudStack Spacing="1" Class="expander-content-padding mb-n3">
                                        @foreach (var longData in ViewModel.CurrentShipStats.AntiAirDataContainer.ShortRangeAura.DataElements)
                                    {
                                        @DataElementFragment((longData, Localizer))
                                    }
                                </MudStack>
                            </MudExpansionPanel>
                        }
                    </MudStack>
                </MudExpansionPanel>
            }

            <!--Airstrikes-->
            @if (ViewModel.CurrentShipStats?.AirstrikeDataContainer is not null)
            {
                <MudExpansionPanel DisableGutters Text="@Localizer.GetAppLocalization(ViewModel.CurrentShipStats.AirstrikeDataContainer.Header).Localization" IsInitiallyExpanded="@(AppSettings.WebAppSettings?.OpenAllMainExpandersByDefault ?? true)" Style="border-bottom: initial" Class="header-border border border-solid rounded-0">
                    <MudStack Spacing="1" Class="expander-content-padding mb-n3">
                        @foreach (var data in ViewModel.CurrentShipStats.AirstrikeDataContainer.DataElements)
                        {
                            @DataElementFragment((data, Localizer))
                        }
                        <MudText Typo="Typo.body2" Class="mt-1">@Localizer.GetAppLocalization(nameof(Translation.ShipStats_Weapon)).Localization</MudText>
                        <MudExpansionPanel Dense DisableGutters Text="@Localizer.GetAppLocalization(ViewModel.CurrentShipStats.AirstrikeDataContainer.WeaponType).Localization" IsInitiallyExpanded="@(AppSettings.WebAppSettings?.OpenSecondariesAndAaExpandersByDefault ?? true)" Style="border-bottom: initial" Class="child-expander rounded-0 mt-1">
                            <MudStack Spacing="1" Class="expander-content-padding">
                                @foreach (var weaponData in ViewModel.CurrentShipStats?.AirstrikeDataContainer?.Weapon?.DataElements ?? new())
                                {
                                    @DataElementFragment((weaponData,Localizer))
                                }
                            </MudStack>
                        </MudExpansionPanel>
                    </MudStack>
                </MudExpansionPanel>
            }

            @if (ViewModel.CurrentShipStats?.AswAirstrikeDataContainer is not null)
            {
                var dcDataContext = ViewModel.CurrentShipStats.AswAirstrikeDataContainer.Weapon as DepthChargeDataContainer ?? throw new InvalidOperationException("Expected DepthChargeDataContainer but found another type.");
                <MudExpansionPanel DisableGutters Text="@Localizer.GetAppLocalization(ViewModel.CurrentShipStats.AswAirstrikeDataContainer.Header).Localization" IsInitiallyExpanded="@(AppSettings.WebAppSettings?.OpenAllMainExpandersByDefault ?? true)" Style="border-bottom: initial" Class="header-border border border-solid rounded-0">
                    <MudStack Spacing="1" Class="expander-content-padding mb-n3">
                        @foreach (var data in ViewModel.CurrentShipStats.AswAirstrikeDataContainer.DataElements)
                        {
                            @DataElementFragment((data, Localizer))
                        }
                        <MudText Typo="Typo.body2" Class="mt-1">@Localizer.GetAppLocalization(nameof(Translation.ShipStats_Weapon)).Localization</MudText>
                        <MudExpansionPanel Dense DisableGutters Text="@Localizer.GetAppLocalization(ViewModel.CurrentShipStats.AswAirstrikeDataContainer.WeaponType).Localization" IsInitiallyExpanded="@(AppSettings.WebAppSettings?.OpenSecondariesAndAaExpandersByDefault ?? true)" Style="border-bottom: initial" Class="child-expander rounded-0 mt-1">
                            <MudStack Spacing="1" Class="expander-content-padding">
                                @foreach (var weaponData in ViewModel.CurrentShipStats?.AswAirstrikeDataContainer?.Weapon?.DataElements ?? new())
                                {
                                    @DataElementFragment((weaponData,Localizer))
                                }
                                <MudText Typo="Typo.body2" Style="color: paleturquoise !important; text-decoration: underline; cursor: pointer" @onclick="@(SetDepthChargeDamageDistributionChartVisibility)">
                                    @(showDepthChargeDamageDistributionChart ? Localizer.GetAppLocalization(nameof(Translation.ShipStats_HideDcDamageDistribution)).Localization : Localizer.GetAppLocalization(nameof(Translation.ShipStats_ShowDcDamageDistribution)).Localization)
                                </MudText>
                                <div style="@GetDepthChargeDamageDistributionChartVisibility()" class="ma-auto">
                                    <DepthChargeDamageDistributionChart ShipIndex="@ViewModel.CurrentShipStats!.Index" DataRecord="@(new(dcDataContext.Damage, dcDataContext.DcSplashRadius, dcDataContext.PointsOfDmg))"/>
                                </div>
                            </MudStack>
                        </MudExpansionPanel>
                    </MudStack>
                </MudExpansionPanel>
            }

            <!--Depth charges-->
            @if (ViewModel.CurrentShipStats?.DepthChargeLauncherDataContainer is not null)
            {
                var dcDataContext = ViewModel.CurrentShipStats.DepthChargeLauncherDataContainer.DepthCharge!;
                <MudExpansionPanel DisableGutters Text="@Localizer.GetAppLocalization(nameof(Translation.ShipStats_DepthChargesLauncher)).Localization" IsInitiallyExpanded="@(AppSettings.WebAppSettings?.OpenAllMainExpandersByDefault ?? true)" Style="border-bottom: initial" Class="header-border border border-solid rounded-0">
                    <MudStack Spacing="1" Class="expander-content-padding mb-n3">
                        @foreach (var data in ViewModel.CurrentShipStats.DepthChargeLauncherDataContainer.DataElements)
                        {
                            @DataElementFragment((data, Localizer))
                        }
                        @foreach (var data in ViewModel.CurrentShipStats?.DepthChargeLauncherDataContainer?.DepthCharge?.DataElements ?? new())
                        {
                            @DataElementFragment((data, Localizer))
                        }
                        <MudText Typo="Typo.body2" Style="color: paleturquoise !important; text-decoration: underline; cursor: pointer" @onclick="@(SetDepthChargeDamageDistributionChartVisibility)">
                            @(showDepthChargeDamageDistributionChart ? Localizer.GetAppLocalization(nameof(Translation.ShipStats_HideDcDamageDistribution)).Localization : Localizer.GetAppLocalization(nameof(Translation.ShipStats_ShowDcDamageDistribution)).Localization)
                        </MudText>
                        <div style="@GetDepthChargeDamageDistributionChartVisibility()" class="ma-auto">
                            <DepthChargeDamageDistributionChart ShipIndex="@ViewModel.CurrentShipStats!.Index" DataRecord="@(new(dcDataContext.Damage, dcDataContext.DcSplashRadius, dcDataContext.PointsOfDmg))"/>
                        </div>
                    </MudStack>
                </MudExpansionPanel>
            }
        </MudStack>
    </MudItem>

    <!--Misc-->
    <MudItem xs="12" lg="4">
        <MudStack>
            <!--Maneuverability-->
            <MudExpansionPanel DisableGutters Text="@Localizer.GetAppLocalization(nameof(Translation.ShipStats_Maneuverability)).Localization" IsInitiallyExpanded="@(AppSettings.WebAppSettings?.OpenAllMainExpandersByDefault ?? true)" Style="border-bottom: initial" Class="header-border border border-solid rounded-0">
                <MudStack Spacing="1" Class="expander-content-padding">
                    @foreach (var data in ViewModel.CurrentShipStats?.ManeuverabilityDataContainer?.DataElements ?? new())
                    {
                        @DataElementFragment((data, Localizer))
                    }
                </MudStack>
                <MudText Typo="Typo.body2" Class="expander-content-padding mb-n3" Style="color: paleturquoise !important; text-decoration: underline; cursor: pointer" @onclick="@(_ => SendBuildToAccelerationCharts(false))">
                    @Localizer.GetAppLocalization(nameof(Translation.ShipStats_ShowAccelerationCharts)).Localization
                </MudText>
            </MudExpansionPanel>

            <!--Concealment-->
            <MudExpansionPanel DisableGutters Text="@Localizer.GetAppLocalization(nameof(Translation.ShipStats_Concealment)).Localization" IsInitiallyExpanded="@(AppSettings.WebAppSettings?.OpenAllMainExpandersByDefault ?? true)" Style="border-bottom: initial" Class="header-border border border-solid rounded-0">
                <MudStack Spacing="1" Class="expander-content-padding mb-n3">
                    @foreach (var data in ViewModel.CurrentShipStats?.ConcealmentDataContainer.DataElements ?? new())
                    {
                        @DataElementFragment((data, Localizer))
                    }
                </MudStack>
            </MudExpansionPanel>

            <!--Survivability-->
            <MudExpansionPanel DisableGutters Text="@Localizer.GetAppLocalization(nameof(Translation.ShipStats_Survivability)).Localization" IsInitiallyExpanded="@(AppSettings.WebAppSettings?.OpenAllMainExpandersByDefault ?? true)" Style="border-bottom: initial" Class="header-border border border-solid rounded-0">
                <ChildContent>
                    <MudStack Spacing="1" Class="expander-content-padding mb-n3">
                         @DataElementFragment((ViewModel.CurrentShipStats?.SurvivabilityDataContainer.DataElements[0]!, Localizer))
                         @{
                            var j = ViewModel.CurrentShipStats?.PingerGunDataContainer is null ? 2 : 3; // subs have battery data that other ships do not have so we have to account for it
                            for(int i = ViewModel.CurrentShipStats!.SurvivabilityDataContainer.DataElements.Count - j; i < ViewModel.CurrentShipStats?.SurvivabilityDataContainer.DataElements.Count; i++)
                            {
                                @DataElementFragment((ViewModel.CurrentShipStats?.SurvivabilityDataContainer.DataElements[i]!, Localizer))
                            }
                         }
                        <MudExpansionPanel DisableGutters Text="@Localizer.GetAppLocalization(nameof(Translation.ShipStats_ShipSectionsHp)).Localization" Style="border-bottom: initial" Class="child-expander rounded-0 mt-1">
                            <MudStack Spacing="1" Class="expander-content-padding mb-n3">
                                @for (var i = 1; i < ViewModel.CurrentShipStats?.SurvivabilityDataContainer.DataElements.Count - j; i++)
                                {
                                    @DataElementFragment((ViewModel.CurrentShipStats?.SurvivabilityDataContainer.DataElements[i]!, Localizer))
                                }
                            </MudStack>
                        </MudExpansionPanel>
                    </MudStack>
                </ChildContent>
            </MudExpansionPanel>

            <!--T11 abilities-->
            @if (ViewModel.CurrentShipStats?.SpecialAbilityDataContainer is not null)
            {
                <MudExpansionPanel DisableGutters Text="@Localizer.GetAppLocalization(nameof(Translation.ShipStats_SpecialAbility)).Localization" IsInitiallyExpanded="true" Style="border-bottom: initial" Class="header-border border border-solid rounded-0">
                    <MudStack Spacing="1" Class="expander-content-padding mb-n3">

                        @if (ViewModel.CurrentShipStats.SpecialAbilityDataContainer.IsBurstMode)
                        {
                            <MudText Typo="Typo.body2">@Localizer.GetAppLocalization(ViewModel.CurrentShipStats.SpecialAbilityDataContainer.Name).Localization</MudText>
                        }
                        else
                        {
                            <MudText Typo="Typo.body2">@Localizer.GetGameLocalization(ViewModel.CurrentShipStats.SpecialAbilityDataContainer.Name).Localization</MudText>
                            <MudText Typo="Typo.body2">@Localizer.GetGameLocalization(ViewModel.CurrentShipStats.SpecialAbilityDataContainer.Description).Localization</MudText>
                        }
                        <MudDivider Light="true" Class="ma-1"/>
                        @foreach (var data in ViewModel.CurrentShipStats.SpecialAbilityDataContainer.DataElements)
                        {
                            @DataElementFragment((data, Localizer))
                        }
                        @foreach (var modifier in ViewModel.CurrentShipStats.SpecialAbilityDataContainer.Modifiers ?? new())
                        {
                            <div class="ml-3 d-flex justify-space-between">
                                <MudText Typo="Typo.body2" Class="flex-grow-0 flex-shrink-1">@ModifierProcessor.GetUiModifierString(modifier.Key, modifier.Value, ReturnFilter.Description, Localizer)</MudText>
                                <MudText Typo="Typo.body2" Align="Align.End" Class="flex-grow-1 flex-shrink-0 pl-2 align-self-center">@ModifierProcessor.GetUiModifierString(modifier.Key, modifier.Value, ReturnFilter.Value, Localizer)</MudText>
                            </div>
                        }
                    </MudStack>
                </MudExpansionPanel>
            }
        </MudStack>
    </MudItem>
    </MudGrid>
    </MudPaper>
}

@code {

    [Parameter, EditorRequired]
    public Action<bool> StoreBuildsForTransfer { get; set; } = default!;

    private bool showDepthChargeDamageDistributionChart;

    private void NavigateToGraph(string shipIndex, string shellIndex)
    {
        NavManager.NavigateTo($"/charts?shipIndex={shipIndex}&shellIndex={shellIndex}");
    }

    private string GetIconFromClass(ShipClass shipClass)
    {
        var path = ClassToPathHelper.GetSvgPathFromClass(shipClass);
        return $"<path d=\"{path}\"/>";
    }

    private void OpenAngleDialog(IEnumerable<IGun> guns, bool isArtillery)
    {
        var records = guns
            .OrderBy(gun => gun, new TurretListComparer())
            .Select(gun =>
            {
                var sector = gun.HorizontalSector.Select(a => a + gun.BaseAngle).ToArray();
                var deadZones = gun.HorizontalDeadZones.Select(z => z.Select(a => a + gun.BaseAngle).ToArray()).ToArray();
                return new GunDataContainer(gun.HorizontalPosition, gun.VerticalPosition, gun.BaseAngle, sector, deadZones);
            });
        var parameters = new DialogParameters
        {
            { nameof(FiringAngleDialog.IsArtillery), isArtillery },
            { nameof(FiringAngleDialog.GunDataContainers), records },
        };
        var options = new DialogOptions
        {
            NoHeader = true,
            CloseButton = false,
        };
        DialogService.Show<FiringAngleDialog>("FiringAngles", parameters, options);
    }

    private void SetDepthChargeDamageDistributionChartVisibility()
    {
        showDepthChargeDamageDistributionChart = !showDepthChargeDamageDistributionChart;
    }

    private string GetDepthChargeDamageDistributionChartVisibility()
    {
        return showDepthChargeDamageDistributionChart ? "align-content: center; visibility: visible; height:100%; width:100%" : "height: 0px; visibility: hidden";
    }

    private void SendBuildToBallisticCharts(string shellName, bool calculateShipDataContainer)
    {
        StoreBuildsForTransfer(calculateShipDataContainer);
        NavManager.NavigateTo($"/charts?shipIndex={ViewModel!.CurrentShipStats!.Index}&shellIndex={shellName}");
    }

    private void SendBuildToAccelerationCharts(bool calculateShipDataContainer)
    {
        StoreBuildsForTransfer(calculateShipDataContainer);
        NavManager.NavigateTo($"/acceleration-charts?shipIndexes={ViewModel!.CurrentShipStats!.Index}");
    }
}