@page "/"
@using WoWsShipBuilder.Web.Services
@using Newtonsoft.Json
@using WoWsShipBuilder.DataStructures
@using WoWsShipBuilder.ViewModels.Helper
@using System.Diagnostics
@inject IAppSettingsService settingsService

<PageTitle>WoWs ShipBuilder</PageTitle>

<Container Fluid>
    <Heading TextAlignment="TextAlignment.Center" TextColor="TextColor.Primary" Size="HeadingSize.Is1" Class="main-title">WoWs ShipBuilder</Heading>
    <Paragraph TextAlignment="TextAlignment.Center" TextColor="TextColor.Primary">
        Welcome to the WoWs ShipBuilder web app.
    </Paragraph>
    <Paragraph TextColor="TextColor.Primary" TextOverflow="TextOverflow.Wrap">
        Settings:
        @JsonConvert.SerializeObject(settingsService.CurrentSettings, Formatting.Indented)
    </Paragraph>
    
    <Paragraph TextColor="TextColor.Primary">
            Select a ship using the following filters.
    </Paragraph>
    <Row>
        <Column ColumnSize="ColumnSize.Is3">
            <Check TValue="bool">Tier</Check>
            <SelectList @bind-SelectedValue="@shipSelectionVm.SelectedTier" DefaultItemText="All" DefaultItemValue="null" TItem="string" TValue="string" ValueField="(item => item)" TextField="(item => item)" Data="@shipSelectionVm.TierList"></SelectList>
        </Column>
            
        <Column ColumnSize="ColumnSize.Is3">
            <Check TValue="bool">Class</Check>
            <SelectList @bind-SelectedValue="@shipSelectionVm.SelectedClass" DefaultItemText="All" DefaultItemValue="null" TItem="ShipClass" TValue="ShipClass?" ValueField="(item => item)" TextField="(item => item.ToString())" Data="@shipSelectionVm.ClassList"></SelectList>
        </Column>
            
        <Column ColumnSize="ColumnSize.Is3">
            <Check TValue="bool">Nation</Check>
            <SelectList @bind-SelectedValue="@shipSelectionVm.SelectedNation" DefaultItemText="All" DefaultItemValue="null" TItem="Nation" TValue="Nation?" ValueField="(item => item)" TextField="(item => item.ToString())" Data="@shipSelectionVm.NationList"></SelectList>
        </Column>
            
        <Column ColumnSize="ColumnSize.Is3">
            <Check TValue="bool">Type</Check>
            <SelectList @bind-SelectedValue="@shipSelectionVm.SelectedType" DefaultItemText="All" DefaultItemValue="null" TItem="ShipCategory" TValue="ShipCategory?" ValueField="(item => item)" TextField="(item => item.ToString())" Data="@shipSelectionVm.TypeList"></SelectList>
        </Column>
    </Row>
    <Button Margin="Margin.Is1" Background="Background.Light" Clicked="@Test">Test</Button>
    <Text TextColor="TextColor.Primary">@data</Text>

</Container>

@code
{
    private ShipSelectionWindowViewModel shipSelectionVm;

    private string data = default!;
    
    public Index()
    {
        shipSelectionVm = new(false, new());
        //this.WhenAnyValue(x => x.ViewModel).Where(vm => vm is not null).Do(OnViewModelUpdated!).Subscribe();
    }

    void Test()
    {
       data = string.Join(" - ", shipSelectionVm.SelectedTier, shipSelectionVm.SelectedClass, shipSelectionVm.SelectedNation, shipSelectionVm.SelectedType);
    }
}
