@using WoWsShipBuilder.Web.Shared
@using System.Reflection
@using WoWsShipBuilder.Common.Features.ShipStats

<Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="@assemblies">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code
{
    private List<Assembly> assemblies = new List<Assembly> { typeof(ShipStats).Assembly };
}
